		<footer class="footer">
			<aside class="aside left">
				<h2>{{widget('content', 'address-header', {content: '. 23RD AND 4TH SIMMION ST .', lines: 'all'})|raw}}</h2>
			</aside>
		</footer>
	</div>
	{% include basekit.bodyScript %}
</body>
</html>